body {
	background: url(http://eskipaper.com/images/evening-background-1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 0px;
	background-attachment: fixed;
	
}


#header{
	
	text-align: center;
	background-color: black;
	color: white;
	font-family: Georgia,serif;
	margin: 2px;

}


.member{
	float: right;
	padding-top: 15px;
}


#weatherHolder {
	float: right;
	width: 50%;
}

#currentHolder {
	top: 300px;
	width: 25%;
	height: 250px;
	overflow: hidden;
	position: absolute;
    right: 15px;
	border: 2px solid black;
	margin-bottom: 20px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

#forecastHolder {
	top: 550px;
	width: 25%;
	height: 250px;
	position: absolute;
    right: 15px;
	overflow: hidden;
	margin-bottom: 20px;
	border: 2px solid black;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}



#wizard-search
{
	margin-top: 25px;

	margin-bottom: 10px;
}


#clothingResults 
{
	top: 300px;
	width: 72%;
	position: absolute;
    left: 15px;
	overflow: hidden;
	
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	text-align: center;

	
}

.clothing_tops
{
margin: 20px;
background-color: white;

}


.clothing_bottoms
{
margin: 20px;
background-color: white;
}

.clothing_jackets
{
margin: 20px;
background-color: white;
}

.umbrella
{
margin: 20px;
background-color: white;
}