body {
	background: url(http://eskipaper.com/images/evening-background-1.jpg);
	background-size: 1640px 1060px;
	background-repeat: no-repeat;
	padding-bottom: 0px;
}


#header{
	
	text-align: center;
	background-color: black;
	color: white;
	font-family: Georgia,serif;
	margin: 2px;
}


.member{
	float: right;
	padding-top: 15px;
}


#weatherHolder {
	float: right;
	width: 50%;
}

#currentHolder {
	top: 300px;
	width: 100%;
	height: 250px;
	overflow: hidden;
	border: 2px solid black;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

#forecastHolder {
	top: 550px;
	width: 100%;
	height: 250px;
	overflow: hidden;
	margin-bottom: 20px;
	border: 2px solid black;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
>>>>>>> 46f31db5e0a5bc64a638339780d95528b60f9677
